@* 
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1> *@

@model GradeServiceVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="">
            <div class="card-header">
                <h5 class="card-title">Grade</h5>

            </div>

            <div class="card-body">
                <form asp-action="Edit" asp-controller="Grades" method="post">
                    <input asp-for="Id" hidden />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                    {
                        <div class="alert alert-warning">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    <div class="row mx-2">


                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="GradeNo" class="control-label">Grade Number</label>
                                <input asp-for="GradeNo" required class="form-control" placeholder="Enter Grade Number ">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Designation" class="control-label"> Designation Name </label>
                                <input asp-for="Designation" required class="form-control" id="origin" placeholder="Enter Designation Name ">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="MinSalary" class="control-label">Minimum salary   </label>
                                <input asp-for="MinSalary" class="form-control" id="origin" placeholder="Enter Minimum Salary ">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="MaxSalary" class="control-label"> Maximum salary </label>
                                <input asp-for="MaxSalary" class="form-control" id="origin" placeholder="Enter Maximum salary  ">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="IncrementAmount" class="control-label"> Increment Amount </label>
                                <input asp-for="IncrementAmount" class="form-control" id="origin" placeholder="Enter Increment Amount  ">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">

                                <label asp-for="IncrementNumber" class="control-label"> Increment Number<br />(Total Number) </label>
                                <input asp-for="IncrementNumber" class="form-control" id="origin" placeholder="Enter Increment Number  ">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label asp-for="IsActive" class="control-label"> IsActive </label>
                                <input asp-for="IsActive" type="checkbox" class="form-control-check" id="origin" placeholder="Enter IsActive  ">
                            </div>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="form-group col-sm-12">
                            <a asp-action="Index" asp-controller="Grades" class="btn btn-light mr-2">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-warning">Update</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Health').addClass('menu-open');
            $('#NewGrade').addClass('active');

        });
    </script>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500,).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
  }




