body {
    margin: 0;
    background: #666;
}

a {
    text-decoration: none;
}

.accept {
    color: #FFF;
    background: #44CC44;
    padding: 10px 10px;
    box-shadow: 0 2px 0 0 #2EA62E;
}

    .accept:hover {
        background: #6FE76F;
        box-shadow: 0 2px 0 0 #7ED37E;
    }

.deny {
    color: #FFF;
    background: tomato;
    padding: 10px 10px;
    box-shadow: 0 2px 0 0 #CB4949;
}

    .deny:hover {
        background: rgb(255, 147, 128);
        box-shadow: 0 2px 0 0 #EF8282;
    }
